@import "../../../assets/styles/scss/reset.scss";
@import "../../../assets/styles/scss/colors.scss";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(147, 144, 198);
  background: linear-gradient(
    90deg,
    rgba(147, 144, 198, 1) 0%,
    rgba(38, 239, 255, 1) 50%,
    rgba(90, 115, 223, 1) 100%
  );

  &__container {
    max-width: 450px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 50px;
    padding-top: 120px;
    border-radius: 10px;
    position: relative;
  }

  &__logo {
    width: 100%;
    transform: scale(1.2);
    backdrop-filter: blur(20px);
    position: absolute;
    top: -90px;
    box-shadow: -1px 15px 30px -5px rgba(38, 241, 255, 0.268);
  }

  &__title {
    color: $main-color;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: $secondary-color; /* cor da borda */
  }

  &__fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }

  &__fields > :not(input:last-child) {
    margin-bottom: 30px;
  }

  &__fields > :not(input:last-child):focus {
    outline-color: $secondary-color;
  }

  &__fields > :not(input:last-child):focus::placeholder {
    opacity: 0;
  }

  &__fields > input:last-child {
    margin: 30px 0 20px 0;
    background-color: white;
    color: $main-color;
    border: solid 1px $main-color;
    font-weight: bold;
  }

  &__fields > input:last-child:hover {
    background-color: $main-color;
    color: white;
  }

  &__fields input {
    width: 90%;
    height: 55px;
    padding: 5px;
    border: solid 1px rgba(19, 42, 60, 0.116);
    border-radius: 5px;
  }
}

@media (max-width: 600px) {
  .login {
    &__container {
      padding-top: 50px;
    }

    &__logo {
      width: 90%;
      transform: scale(1);
      backdrop-filter: none;
      position: relative;
      top: 0;
      box-shadow: none;
    }

    &__fields > input:last-child {
        background-color: $main-color;
        color: white;
      }
  }
}

@media (max-width: 450px) {
  .login {
    background: white;
   
  }
}
