<main class="login w-100 min-vh-100">
    <section class="login__container">
        <img  class="login__logo img-fluid mb-4" src="../../../assets/images/Logo azul.png" alt="logo do faça mais">
        <h1 class=" login__title mb-4">Login</h1>
        <div class="login__fields">
            <input type="text" placeholder="Email" name="" id="">
            <input type="password" placeholder="Senha" name="" id="">
            <input type="button" value="Entrar">
        </div>
        <small>Não tem conta? <a RouterLink="">cadastre-se</a></small>
    </section>
</main>
